**READ INVENTORY**

In [3]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [ ]:
records

{'1001': {'company': 'Britania',
  'date': 'June 2021',
  'name': 'Choco Cake',
  'pr': 100,
  'qn': 34},
 '1002': {'company': 'Britania',
  'date': 'July 2021',
  'name': 'Milk Cake',
  'pr': 800,
  'qn': 100},
 '1003': {'company': 'Amul',
  'date': 'July 2021',
  'name': 'Drink',
  'pr': 85,
  'qn': 100},
 '1004': {'company': 'Candyman',
  'date': 'June 2021',
  'name': 'Candy',
  'pr': 5,
  'qn': 1000},
 '1005': {'company': 'Flair',
  'date': 'June 2021',
  'name': 'Pen',
  'pr': 20,
  'qn': 200},
 '1006': {'company': 'Apsara',
  'date': 'June 2021',
  'name': 'Pencil',
  'pr': 10,
  'qn': 100},
 '1007': {'company': 'Duracell',
  'date': 'June 2021',
  'name': 'Battery',
  'pr': 40,
  'qn': 6},
 '1008': {'company': 'oneplus',
  'date': 'July 2021',
  'name': 'Case',
  'pr': 599,
  'qn': 5},
 '1009': {'company': 'Britania',
  'date': 'July 2021',
  'name': 'Biscuit',
  'pr': 70,
  'qn': 100},
 '1010': {'company': 'Ritu nutz',
  'date': 'Aug 2021',
  'name': 'Pista',
  'pr': 199,
  'qn': 50},
 '1011': {'company': 'Lays',
  'date': 'June 2021',
  'name': 'Potato Chips',
  'pr': 100,
  'qn': 34},
 '1012': {'company': 'pepsico',
  'date': 'July 2021',
  'name': 'Kurkure',
  'pr': 20,
  'qn': 100},
 '1013': {'company': 'Cadbury',
  'date': 'July 2021',
  'name': 'Dairy Milk',
  'pr': 85,
  'qn': 100},
 '1014': {'company': 'Candyman',
  'date': 'June 2021',
  'name': 'Ladoo',
  'pr': 50,
  'qn': 1000},
 '1015': {'company': 'Flair',
  'date': 'June 2021',
  'name': 'File',
  'pr': 20,
  'qn': 200},
 '1016': {'company': 'Classmate',
  'date': 'June 2021',
  'name': 'Long Book',
  'pr': 40,
  'qn': 100},
 '1017': {'company': 'Durgas',
  'date': 'June 2021',
  'name': 'Plates',
  'pr': 40,
  'qn': 6},
 '1018': {'company': 'RajBallons',
  'date': 'July 2021',
  'name': 'baloon',
  'pr': 5,
  'qn': 500},
 '1019': {'company': 'Britania',
  'date': 'July 2021',
  'name': 'Pedigree',
  'pr': 570,
  'qn': 100},
 '1020': {'company': 'Ritu nutz',
  'date': 'Aug 2021',
  'name': 'Cashew',
  'pr': 499,
  'qn': 50},
 '1021': {'company': 'Himalayan',
  'date': 'June 2021',
  'name': 'Badam',
  'pr': 270,
  'qn': 34},
 '1022': {'company': 'Ponds',
  'date': 'July 2021',
  'name': 'Face Wash',
  'pr': 80,
  'qn': 100},
 '1023': {'company': 'Ponds',
  'date': 'July 2021',
  'name': 'Powder',
  'pr': 85,
  'qn': 100},
 '1024': {'company': 'Nevia',
  'date': 'June 2021',
  'name': 'Cream',
  'pr': 45,
  'qn': 100},
 '1025': {'company': 'Flair',
  'date': 'June 2021',
  'name': 'Pencil Box',
  'pr': 200,
  'qn': 200},
 '1026': {'company': 'Apsara',
  'date': 'June 2021',
  'name': 'Eraser',
  'pr': 10,
  'qn': 100},
 '1027': {'company': 'yonex',
  'date': 'June 2021',
  'name': 'Ball',
  'pr': 40,
  'qn': 69},
 '1028': {'company': 'MRF',
  'date': 'July 2021',
  'name': 'Bat',
  'pr': 599,
  'qn': 5},
 '1029': {'company': 'Fevicol',
  'date': 'July 2021',
  'name': 'Glue',
  'pr': 30,
  'qn': 100},
 '1030': {'company': 'Ritu nutz',
  'date': 'Aug 2021',
  'name': 'Dry Grapes',
  'pr': 199,
  'qn': 60}}

**PURCHASE**

In [7]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Manufacture Company: ", records[ui_prod]['company'])
print("Date of Manufacture: ", records[ui_prod]['date'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1001
Enter the quantity: 1
Product:  Choco Cake
Manufacture Company:  Britania
Date of Manufacture:  June 2021
Price:  100
Billing Amount:  100

 **Update Inventory after purchase**

In [8]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

**SALES JSON**

In [9]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant, 'company': records[ui_prod]['company'], 'Date': records[ui_prod]['date']}

{'Date': 'June 2021',
 'amount': 100,
 'company': 'Britania',
 'prod': '1001',
 'qn': 1}

In [10]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

In [11]:
sale = json.dumps(sales)

In [12]:
sale

'{"1": {"prod": "1001", "qn": 1, "amount": 100}, "2": {"prod": "1001", "qn": 1, "amount": 100}, "3": {"prod": "1001", "qn": 1, "amount": 100}}'